<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page - SocialBook - Easy Tutorials</title>
  <link rel="stylesheet" href="style.css">

  <script src="https://kit.fontawesome.com/f0a46e98b0.js" crossorigin="anonymous"></script>
</head>

<body>

  <nav>
    <div class="nav-left">
      <a href="index.html"><img src="img/logo.png" alt="" class="logo"></a>
      <ul>
        <li><img src="img/notification.png" alt=""></li>
        <li><img src="img/inbox.png" alt=""></li>
        <li><img src="img/video.png" alt=""></li>
      </ul>
    </div>
    <div class="nav-right">

      <div class="search-box">
        <img src="img/search.png" alt="">
        <input type="text" name="" id="" placeholder="Search">
      </div>

      <div class="nav-user-icon online" onclick="settingsMenuToggle()">
        <img src="img/profile-pic.png" alt="">
      </div>

    </div>
    <!-- settings-menu -->
    <div class="settings-menu">


      <div id="dark-btn">
        <span></span>
      </div>

      <div class="settings-menu-inner">
        <div class="user-profile">
          <img src="img/profile-pic.png" alt="">
          <div>
            <p>John Nicholson</p>
            <a href="#">See your profile</a>
          </div>
        </div>
        <hr>
        <div class="user-profile">
          <img src="img/feedback.png" alt="">
          <div>
            <p>Give Feedback</p>
            <a href="#">Help us to improve the new design</a>
          </div>
        </div>
        <hr>
        <div class="settings-links">
          <img src="img/setting.png" alt="" class="settings-icon">
          <a href="#">Settings & Privacy <img src="img/arrow.png" alt="" width="10px"></a>
        </div>
        <div class="settings-links">
          <img src="img/help.png" alt="" class="settings-icon">
          <a href="#">Help & Support <img src="img/arrow.png" alt="" width="10px"></a>
        </div>
        <div class="settings-links">
          <img src="img/display.png" alt="" class="settings-icon">
          <a href="#">Display & Accessibility <img src="img/arrow.png" alt="" width="10px"></a>
        </div>
        <div class="settings-links">
          <img src="img/logout.png" alt="" class="settings-icon">
          <a href="#">Logout <img src="img/arrow.png" alt="" width="10px"></a>
        </div>


      </div>

    </div>

  </nav>


  <!-- profile page -->

  <div class="profile-container">
    <img src="img/cover.png" class="cover-img" alt="">
    <div class="profile-details">
      <div class="pd-left">
        <div class="pd-row">
          <img src="img/profile.png" class="pd-image" alt="">
          <div>
            <h3>Jack Nicholson</h3>
            <p>120 Friends - 20 mutual</p>
            <img src="img/member-1.png" alt="">
            <img src="img/member-2.png" alt="">
            <img src="img/member-3.png" alt="">
            <img src="img/member-4.png" alt="">
          </div>
        </div>
      </div>
      <div class="pd-right">

        <button type="button"><img src="img/add-friends.png" alt=""> Friend</button>
        <button type="button"><img src="img/message.png" alt=""> Message</button>
        <br>
        <a href=""><img src="img/more.png" alt=""></a>
      </div>
    </div>

    <div class="profile-info">
      <div class="info-col">

        <div class="profile-intro">
          <h3>Intro</h3>
          <p class="intro-text">Believe in yourself and you can do unbelievable things. <img src="img/feeling.png"
              alt=""></p>
          <hr>
          <ul>
            <li><img src="img/profile-job.png" alt=""> Director at 99media Ltd</li>
            <li><img src="img/profile-study.png" alt="">Studied at Amity University</li>
            <li><img src="img/profile-study.png" alt=""> Went to DPS Delhi</li>
            <li><img src="img/profile-home.png" alt="">Lives in Bangalore, India</li>
            <li><img src="img/profile-location.png" alt="">From Bangalore, India</li>
          </ul>
        </div>

        <div class="profile-intro">
          <div class="title-box">
            <h3>Photos</h3>
            <a href="">All Photos</a>
          </div>

          <div class="photo-box">
            <div><img src="img/photo1.png" alt=""></div>
            <div><img src="img/photo2.png" alt=""></div>
            <div><img src="img/photo3.png" alt=""></div>
            <div><img src="img/photo4.png" alt=""></div>
            <div><img src="img/photo5.png" alt=""></div>
            <div><img src="img/photo6.png" alt=""></div>
          </div>
        </div>

        <div class="profile-intro">
          <div class="title-box">
            <h3>Friends</h3>
            <a href="">All Friends</a>
          </div>
          <p>120 (10 mutual)</p>
          <div class="friends-box">
            <div><img src="img/member-1.png" alt=""><p>Joseph N</p></div>
            <div><img src="img/member-2.png" alt=""><p>Nathan N</p></div>
            <div><img src="img/member-3.png" alt=""><p>George D</p></div>
            <div><img src="img/member-4.png" alt=""><p>Francis L</p></div>
            <div><img src="img/member-5.png" alt=""><p>Anthony E</p></div>
            <div><img src="img/member-6.png" alt=""><p>Michael A</p></div>
            <div><img src="img/member-7.png" alt=""><p>Edward M</p></div>
            <div><img src="img/member-8.png" alt=""><p>Brandon C</p></div>
            <div><img src="img/member-9.png" alt=""><p>James Doe</p></div>
          </div>
        </div>


      </div>
      <div class="post-col">
        <div class="write-post-container">
          <div class="user-profile">
            <img src="img/profile-pic.png" alt="">
            <div>
              <p>John Nicholson</p>
              <small>Public <i class="fa-solid fa-caret-down"></i></small>
            </div>
          </div>

          <div class="post-input-container">
            <textarea name="" rows="3" placeholder="What's on your mind, John?"></textarea>
            <div class="add-post-links">
              <a href="#"><img src="img/live-video.png" alt=""> Live Video</a>
              <a href="#"><img src="img/photo.png" alt=""> Photo/Video</a>
              <a href="#"><img src="img/feeling.png" alt=""> Feeling/Activity</a>
            </div>
          </div>
        </div>
        <div class="post-container">
          <div class="post-row">
            <div class="user-profile">
              <img src="img/profile-pic.png" alt="">
              <div>
                <p>John Nicholson</p>
                <span>June 24 2021, 13:40</span>
              </div>
            </div>
            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
          </div>

          <p class="post-text">Subscribe <span>@Easy Tutorials</span> Youtube channel to watch more videos on website
            developers and UI designs. <a href="">#EasyTutorials</a><a href="">#YoutubeChannel</a></p>

          <img src="img/feed-image-1.png" class="post-img" alt="">

          <div class="post-row">
            <div class="activity-icons">
              <div><img src="img/like-blue.png" alt=""> 120</div>
              <div><img src="img/comments.png" alt=""> 45</div>
              <div><img src="img/share.png" alt=""> 20</div>
            </div>
            <div class="post-profile-icon">
              <img src="img/profile-pic.png" alt=""> <i class="fa-solid fa-caret-down"></i>
            </div>
          </div>

        </div>

        <div class="post-container">
          <div class="post-row">
            <div class="user-profile">
              <img src="img/profile-pic.png" alt="">
              <div>
                <p>John Nicholson</p>
                <span>June 24 2021, 13:40</span>
              </div>
            </div>
            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
          </div>

          <p class="post-text">Like and share this video with friends, tag <a href="">#EasyTutorials</a><a
              href="">#YoutubeChannel</a></p>

          <img src="img/feed-image-2.png" class="post-img" alt="">

          <div class="post-row">
            <div class="activity-icons">
              <div><img src="img/like.png" alt=""> 120</div>
              <div><img src="img/comments.png" alt=""> 45</div>
              <div><img src="img/share.png" alt=""> 20</div>
            </div>
            <div class="post-profile-icon">
              <img src="img/profile-pic.png" alt=""> <i class="fa-solid fa-caret-down"></i>
            </div>
          </div>

        </div>

        <div class="post-container">
          <div class="post-row">
            <div class="user-profile">
              <img src="img/profile-pic.png" alt="">
              <div>
                <p>John Nicholson</p>
                <span>June 24 2021, 13:40</span>
              </div>
            </div>
            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
          </div>

          <p class="post-text">Subscribe <span>@Easy Tutorials</span> Youtube channel to watch more videos on website
            developers and UI designs. <a href="">#EasyTutorials</a><a href="">#YoutubeChannel</a></p>

          <img src="img/feed-image-3.png" class="post-img" alt="">

          <div class="post-row">
            <div class="activity-icons">
              <div><img src="img/like-blue.png" alt=""> 120</div>
              <div><img src="img/comments.png" alt=""> 45</div>
              <div><img src="img/share.png" alt=""> 20</div>
            </div>
            <div class="post-profile-icon">
              <img src="img/profile-pic.png" alt=""> <i class="fa-solid fa-caret-down"></i>
            </div>
          </div>

        </div>

        <div class="post-container">
          <div class="post-row">
            <div class="user-profile">
              <img src="img/profile-pic.png" alt="">
              <div>
                <p>John Nicholson</p>
                <span>June 24 2021, 13:40</span>
              </div>
            </div>
            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
          </div>

          <p class="post-text">Subscribe <span>@Easy Tutorials</span> Youtube channel to watch more videos on website
            developers and UI designs. <a href="">#EasyTutorials</a><a href="">#YoutubeChannel</a></p>

          <img src="img/feed-image-4.png" class="post-img" alt="">

          <div class="post-row">
            <div class="activity-icons">
              <div><img src="img/like-blue.png" alt=""> 120</div>
              <div><img src="img/comments.png" alt=""> 45</div>
              <div><img src="img/share.png" alt=""> 20</div>
            </div>
            <div class="post-profile-icon">
              <img src="img/profile-pic.png" alt=""> <i class="fa-solid fa-caret-down"></i>
            </div>
          </div>

        </div>

        <div class="post-container">
          <div class="post-row">
            <div class="user-profile">
              <img src="img/profile-pic.png" alt="">
              <div>
                <p>John Nicholson</p>
                <span>June 24 2021, 13:40</span>
              </div>
            </div>
            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
          </div>

          <p class="post-text">Subscribe <span>@Easy Tutorials</span> Youtube channel to watch more videos on website
            developers and UI designs. <a href="">#EasyTutorials</a><a href="">#YoutubeChannel</a></p>

          <img src="img/feed-image-5.png" class="post-img" alt="">

          <div class="post-row">
            <div class="activity-icons">
              <div><img src="img/like-blue.png" alt=""> 120</div>
              <div><img src="img/comments.png" alt=""> 45</div>
              <div><img src="img/share.png" alt=""> 20</div>
            </div>
            <div class="post-profile-icon">
              <img src="img/profile-pic.png" alt=""> <i class="fa-solid fa-caret-down"></i>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>



  <div class="footer">
    <p>Copyright 2021 - Easy Tutorials Youtube Channel</p>
  </div>

  <script src="script.js"></script>
</body>

</html>